# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# VS Code settings
.vscode/

# Database files
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp

# JSON backups
*.json